[submodule "yolov5"]
	path = yolov5
	url = https://github.com/Deceptrax123/Raw-YOLOv5-Wheat-Heads
[submodule "image-inpainting"]
	path = image-inpainting
	url = https://github.com/Deceptrax123/inpainting-glare-removal
[submodule "autoencoder-mitigation"]
	path = autoencoder-mitigation
	url = https://github.com/Deceptrax123/autoencoder-image-glare-removal
