[submodule "Wheat-Head-Detection"]
	path = Wheat-Head-Detection
	url = https://github.com/Deceptrax123/Raw-YOLOv5-Wheat-Heads
[submodule "enhacement-algorithms"]
	path = enhacement-algorithms
	url = https://github.com/Deceptrax123/inpainting-glare-removal
[submodule "box-fusion"]
	path = box-fusion
	url = https://github.com/Deceptrax123/box-fusion
[submodule "deep-learning-image-enhacement"]
	path = deep-learning-image-enhacement
	url = https://github.com/Deceptrax123/autoencoder-image-glare-removal
